<li class="task<% if task.user_id == current_user.id || current_user.admin? %> sortable<% end %>" data-id="<%= task.id %>">
	<h4 style="display:inline-block;"><%= task.name %></h4>&nbsp;&nbsp;<%= link_to User.find(task.user_id).name, User.find(task.user_id) %>
	<p class="description"><%= task.description %></p>
	<span class="created">
		Last updated <%= time_ago_in_words(task.updated_at) %> ago.
	</span>
	<% if current_user?(task.user_id) %>
&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "Edit", edit_task_path(task) %>
<% end %>
<% if current_user.admin? || current_user?(@user) %>
&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
</li>