<% provide(:title, 'All Tasks') %>
<h5><%= link_to "New Task", '/tasks/new' %></h5>
<ul class="tasks sortable">
<%= render @tasks %>
</ul>

<%= form_for :task, :url => update_all_path, :remote => true, :html => { :method => :put, :class => "sortable" } do %>
	<% @tasks.each do |task| %>
		<%= fields_for "task[]", task do |task_fields| %>
			<%= task_fields.hidden_field :priority %>
		<% end %>
	<% end %>
<% end %>