<%= form_for(@task) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  	<%= f.label :name %>
  	<%= f.text_field :name, placeholder: :name %>
  	<%= f.label :description %>
    <%= f.text_area :description, placeholder: :description %>
    <%= f.label :job %>
    <%= f.text_field :job, placeholder: :job %>
    <%= f.label :hours %>
    <%= f.text_field :hours, placeholder: :hours %>
    <%= f.label :due %>
    <%= f.text_field :due, class: "datepicker" %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>